* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
}

h1,
h2,
h3 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #0a3641;
}

p,
a {
  font-family: montserrat, Helvetica, sans-serif;
  color: #0a3641;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 150px;
  margin: 20px auto;
}

/* Mobile and Tablet Navigation */

.top_nav ul {
  list-style-type: none;
  background-color: #6f705e;
}

.top_nav li {
  padding: 15px 5px;
}

.top_nav a {
  color: white;
  font-size: 1.5em;
}

.top_nav {
  display: none;
}

#hamburger-menu {
  display: none;
  float: left;
}

.fa-bars {
  font-size: 30px;
  margin: 5px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Home Page */

.hero {
  background-image: url(../media/images/Grønn_jakke.jpg);
  background-size: cover;
  max-width: 1250px;
  margin: 10px auto;
  display: flex;
}

#hero_content {
  background-color: rgba(111, 112, 94, 0.8);
  color: white;
  text-align: center;
  line-height: 150%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero h1,
.hero p,
.hero a {
  color: white;
  margin: 50px;
}

.hero h1 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.hero a {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 10px 50px;
}

.hero a:hover {
  border: 1px solid rgb(190, 190, 190);
}

/* ---------------- */

.most-popular {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  text-decoration: none;
  gap: 20px;
}

.most-popular h3,
.most-popular p {
  margin: 5px;
}

.most-popular h3 {
  font-weight: bold;
  font-size: 1em;
}

.most-popular img {
  width: 100%;
}

.most-popular h2 {
  grid-column: -1/1;
  margin-bottom: 50px;
}

.products {
  background-color: #f3f3f3;
  padding: 10px;
}

/* --------------------- */

.shortcuts {
  display: flex;
}

/* Sett bilde som bakgrunn istede */

.shortcuts > div {
  margin: 100px 10px;
  gap: 10px;
  position: relative;
}

.shortcuts img {
  width: 100%;
  opacity: 70%;
}

.shortcuts h3 {
  background-color: #6f705e;
  color: white;
  text-align: center;
  padding: 10px 60px;
  font-size: 2vw;
  text-transform: capitalize;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------- */

footer {
  background-color: #6f705e;
  margin: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer_logo {
  width: 120px;
}

.footer_nav li {
  display: flex;
  flex-direction: column;
  background-color: #6f705e;
  width: 100%;
  gap: 50px;
}

.footer_nav li a {
  text-align: center;
  margin: 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer_nav li a:hover {
  text-decoration: underline;
}

.footer_nav {
  list-style-type: none;
  display: block;
  padding: 30px;
}

.footer_nav a {
  color: white;
}

/* Desktop Menu */

@media (min-width: 1000px) {
  .top_nav {
    display: inline-block;
  }

  .top_nav ul {
    background-color: #fdfdfd;
  }

  .top_nav li {
    display: inline-block;
  }

  .top_nav a {
    color: #0a3641;
    margin: 0 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.3vw;
  }

  .top_nav a:hover {
    text-decoration: underline;
  }

  .fa-bars {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* Hero Section */

  #hero_content {
    background-color: rgba(111, 112, 94, 0.8);
    color: white;
    text-align: center;
    max-width: 300px;
    height: 450px;
    line-height: 150%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
